
# all files that begin with .
# this is a strong rule but it is a convention that 
# should follow throughout the project
.*/

# python cache
__pycache__/



# excess database files
*.sqlite

# docker files
docker-compose.yml
Dockerfile

